@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
/* -------------------------------------------------------For Desktop Portion (width - 1366 px)--------------------------------------------------------*/

@media (min-width: 1300px) and (max-width :1700px){

  .img{
    width:124%;
    height: 60em;
    
    margin:auto;
    background-image: url('Home/Image.png');
    background-size: 100% 100%;
    margin-top: 0%;
}
    
.slg1{
    color: white;
    font-family: Manrope;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    width: 29%;
    
    left: 66%;
    top: 10rem;
}

.slg2{
    color: white;
    position: absolute;
    width: 30%;
    height: 32px;
    left: 66%;
    top: 31em;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 100%;
}

.btn{
    color: white;
    font-size: 1rem;
    position: absolute;
    width: 10%;
    height: 8%;
    left: 66%;
    top: 36rem;
    background: #8C30F5;
    border-radius: 20px;

}
.btn:hover {background-color: #7f11fd}

.btn:active {
  background-color: #8C30F5;
 
  transform: translateY(4px);
}
}

/* -------------------------------------------------------For Desktop Portion (width - 1920 px)--------------------------------------------------------*/
@media (min-width: 1800px) {

    .img{
        width:125%;
        height: 60em;
        
        margin:auto;
        background-image: url('Home/Image.png');
        background-size: 100% 100%;
        margin-top: 0%;
    }
        
    .slg1{
        color:white ;    
    font-family: Manrope;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    width: 29%;
    left: 70%;
    top: 13rem;
    }
    
    .slg2{
        color: white;
        position: absolute;
        width: 30%;
        
        left: 70%;
        top: 30rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 100%;
    }
    
    .btn{
        color: white;
        font-size: 1rem;
    position:absolute;
    width: 10%;
    height: 8%;
    left: 70%;
    top: 35rem;
    background: #8C30F5;
    border-radius: 20px;
    

    
    }

    .btn:hover {background-color: #7f11fd}

.btn:active {
  background-color: #8C30F5;
  
  transform: translateY(4px);

}
}

/* -------------------------------------------------------For mobile portrait----------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 480px) {
    .img{
        
        margin-top: -10px; 
        background-image:url('Home/Image.png');
        background-repeat:no-repeat;
        background-size:contain;
        background-position: top;
    }
    
    .slg1{
        width: 100px;
        display: flex;
        font-family: Manrope;
        font-size: 17px;
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0em;
        text-align: left;
        height: 70px;
        left: 240px;
        top: 145px;
        line-height: normal;
    }

    .slg2 {
        color: white;
        
        position: absolute;
        width: 119px;
        height: 10px;
        left: 240px;
        top: 205px;
        font-family: Manrope;
        font-style: normal;
        font-weight: lighter;
        font-size: 5px;
        line-height: 10px;
    }

    .btn {
        color: white;
        font-size: 5px;
        position: absolute;
        width: 50px;
        height: 20px;
        left: 240px;
        top: 230px;
        background: #8C30F5;
        border-radius: 8px;
    }
}

/* -------------------------------------------------------For Mobile Landscape -------------------------------------------------------*/


@media (min-width: 481px) and (max-width: 900px){

    .img{
        
        margin-top: -10px;
        background-image: url('Home/Image.png');
        width: 87em;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .slg1{
        width: 200px;
    display: flex;
    font-family: Manrope;
    font-size: 4em;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    height: 70px;
    left: 14em;
    top: 3em;
    line-height: normal;
    }

    .slg2 {
        color: white;
    position: absolute;
    width: 50%;
    height: 10px;
    left: 70em;
    top: 40em;
    font-family: Manrope;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.8em;
    line-height: 10px;
    }

    .btn {
        color: white;
    font-size: 1.5em;
    position: absolute;
    width: 7em;
    height: 2em;
    left: 37.5em;
    top: 24em;
    background: #8C30F5;
    border-radius: 8px;
    }
}


