.heading6{
    position:absolute;left:150px;top:2600px;width:548px;height:128px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:50px;
}
.para6{
    position:absolute;left:150px;top:2760px;width:548px;height:128px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}
.svg1{
    position: absolute;left:600px;top:2650px;
}
.svg2{
    position: absolute;left:613px;top:2650px;
}
.svg3{
    position: absolute;left:625px;top:2659px;
}
.achieve-fluid{
    position: absolute;left:660px;top:2610px;
}
.achieve-fluid-two{
    position: absolute;left:660px;top:2655px;
}
.svg4{
    position: absolute;left:600px;top:2750px;
}
.svg5{
    position: absolute;left:609px;top:2750px;
}
.svg6{
    position: absolute;left:625px;top:2750px;
}
.achieve-fluid-three{
    position: absolute;left:660px;top:2700px;
}
.achieve-fluid-four{
    position: absolute;left:660px;top:2750px;
}
.svg7{
    position: absolute;left:900px;top:2648px;
}
.svg8{
    position: absolute;left:900px;top:2657px;
}
.svg9{
    position: absolute;left:910px;top:2675px;
}
.achieve-fluid-three1{
    position: absolute;left:950px;top:2604px;
    font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four1{
    position: absolute;left:950px;top:2651px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.svg10{
    position: absolute;left:900px;top:2750px;
}
.svg11{
    position: absolute;left:900px;top:2768px;
}
.svg12{
    position: absolute;left:916px;top:2750px;
}
.svg13{
    position: absolute;left:916px;top:2758px;
}
.svg14{
    position: absolute;left:916px;top:2769px;
}
.svg15{
    position: absolute;left:916px;top:2777px;
}
.achieve-fluid-three2{
    position: absolute;left:960px;top:2707px;
    font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four2{
    position: absolute;left:960px;top:2750px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.achieve-fluid{
	font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-two{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.achieve-fluid-three{
	font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}