.heading6{
    position:absolute;left:150px;top:1700px;width:548px;height:128px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:50px;
}
.para6{
    position:absolute;left:150px;top:1850px;width:548px;height:128px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}
.svg1{
    position: absolute;left:600px;top:1750px;
}
.svg2{
    position: absolute;left:613px;top:1750px;
}
.svg3{
    position: absolute;left:625px;top:1759px;
}
.achieve-fluid{
    position: absolute;left:660px;top:1710px;
}
.achieve-fluid-two{
    position: absolute;left:660px;top:1755px;
}
.svg4{
    position: absolute;left:600px;top:1850px;
}
.svg5{
    position: absolute;left:609px;top:1850px;
}
.svg6{
    position: absolute;left:625px;top:1850px;
}
.achieve-fluid-three{
    position: absolute;left:660px;top:1800px;
}
.achieve-fluid-four{
    position: absolute;left:660px;top:1850px;
}
.svg7{
    position: absolute;left:900px;top:1748px;
}
.svg8{
    position: absolute;left:900px;top:1757px;
}
.svg9{
    position: absolute;left:910px;top:1775px;
}
.achieve-fluid-three1{
    position: absolute;left:950px;top:1704px;
    font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four1{
    position: absolute;left:950px;top:1751px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.svg10{
    position: absolute;left:900px;top:1850px;
}
.svg11{
    position: absolute;left:900px;top:1868px;
}
.svg12{
    position: absolute;left:916px;top:1850px;
}
.svg13{
    position: absolute;left:916px;top:1858px;
}
.svg14{
    position: absolute;left:916px;top:1869px;
}
.svg15{
    position: absolute;left:916px;top:1877px;
}
.achieve-fluid-three2{
    position: absolute;left:960px;top:1807px;
    font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four2{
    position: absolute;left:960px;top:1850px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.achieve-fluid{
	font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-two{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}
.achieve-fluid-three{
	font-family: 'Source Sans Pro', sans-serif;
}
.achieve-fluid-four{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
}