.join{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:35px;
	font-weight: bold;
}
.join1{
    position: absolute;top:4500px;left:150px;
}
.join2{
    position:absolute;left:200px;top:4520px;width:444px;height:128px;
}
.join3{
    position: absolute;left:590px;top:4605px;
}
.join4{
    position: absolute;left:735px;top:4704px;
}
.join5{
    position: absolute;left:919px;top:4500px;
}
.join6{
    position: absolute;left:800px;top:4607px;
}
.button{
    position: absolute;left: 200px;top:4680px;
	background-color:white;
	border-radius:9px;
	border:1px solid #8C30F5;
	display:inline-block;
	cursor:pointer;
	color:#8C30F5;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px;
}
.button:hover {
	background-color:white;
	border: 2px solid  white;
    background-color: #8C30F5;
    color: rgb(255, 255, 255);
}
.button:active {
	position:relative;
	top:1px;
}
.vector{
    position: absolute;left:863.25px;top:4660px;width: 154.01px;height: 55.5px;
    transform: rotate(10deg);
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	color: white;
	font-weight: lighter;
}

@media only screen and (min-width:1800px){
	.join{
		font-family: 'Source Sans Pro', sans-serif;
		font-size:35px;
		font-weight: bold;
	}
	.join1{
		position: absolute;top:4500px;left:350px;
	}
	.join2{
		position:absolute;left:400px;top:4520px;width:444px;height:128px;
	}
	.join3{
		position: absolute;left:790px;top:4605px;
	}
	.join4{
		position: absolute;left:935px;top:4704px;
	}
	.join5{
		position: absolute;left:1119px;top:4500px;
	}
	.join6{
		position: absolute;left:1000px;top:4607px;
	}
	.button{
		position: absolute;left: 400px;top:4680px;
		background-color:white;
		border-radius:9px;
		border:1px solid #8C30F5;
		display:inline-block;
		cursor:pointer;
		color:#8C30F5;
		font-family:Arial;
		font-size:17px;
		padding:16px 31px;
		text-decoration:none;
		text-shadow:0px 1px 0px;
	}
	.button:hover {
		background-color:white;
	}
	.button:active {
		position:relative;
		top:1px;
	}
	.vector{
		position: absolute;left:1063.25px;top:4660px;width: 154.01px;height: 55.5px;
		transform: rotate(10deg);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 25px;
		color: white;
		font-weight: lighter;
	}
}